<h1>{{title}}</h1>
<p>Live data from the {{title}}</p>
<table>
  <thead>
    <th>Date</th>
    <th>Time</th>
    <th>Temp<br/>(from humidity sensor)</th>
    <th>Temp<br/>(from barometer)</th>
    <th>Humidity</th>
    <th>Pressure</th>
  </thead>
  {{#each weatherData}}
    <tr>
      <td>{{day}}</td>
      <td>{{time}}</td>
      <td>{{temp_f_from_hum}} F</td>
      <td>{{temp_f_from_bar}} F</td>
      <td>{{humidity}} %</td>
      <td>{{pressure}} pa</td>
    </tr>
  {{/each}}
</table>

<div>
  <canvas id="humidityChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>

<script>
  const ctx = document.getElementById('humidityChart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: [
          {{#each humidityLabels}}
          "{{this}}",
          {{/each}}
        ],
      datasets: [{
        label: 'Humidity in %',
        data:  [
          {{#each humidityPercents}}
          "{{this}}",
          {{/each}}
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          suggestedMin: {{humidityMin}},
          suggestedMax: {{humidityMax}},
        },
        x: {
          type: "time",
          time: {
              unit: 'hour'
          }
        },
      },
    },
  });
</script>